/* General Stylying */
:root {
  --primaryColor: blue;
  --secondaryColor: yellow;
  --darkColor: black;
  --accentColor: gray;
}

body,
html {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#root {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
