/* General Stylying */
:root {
  /* Colors */
  --primaryColor: #0c0769; /* bluish */
  --secondaryColor: #fefefe; /* whitish */
  --darkColor: #0f0f0f; /* blackish */
  --accentColor: #f78b07; /* yellowish or goldish */
  --dangerColor: #d40f04; /* reddish */
  --faintDark: #2b2b2b; /* Grayish */

  /* Tab Dimensions */
  --tTabHeight: 80px;
  --cTabHeight: 250px;
  --pTabWidth: 300px;

  /* Z index */
  --highLevelZindex: 1000;
  --midLevelZindex: 900;
  --lowLevelZindex: 0;
}


body,
html {
  width: 100%;
  margin: 0px;
  padding: 0px;
  color: var(--secondaryColor);
  background: var(--darkColor);
}

#root {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* SECTION: MAIN APP WINDOW STYLING */

.App {
  width: 100%;
  height: 100%;
}

/* TTab styling */
.App .TTab {
  height: var(--tTabHeight);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--highLevelZindex);
  background: var(--faintDark);
  overflow: hidden;
}

.App .TTab .menuItem {
  transition: 0.4s all ease;
  width: 120px;
  cursor: pointer;
  border-radius: 30px;
  padding: 7px;
  color: var(--accentColor);
  height: calc(var(--tTabHeight) * 0.8);
}

.App .TTab .menuItem:hover,
.App .TTab .menuItem[data-selected='true'] {
  background: var(--darkColor);
  color: var(--secondaryColor);
}

.App .TTab .menuItem > .mIcon {
  width: 30px;
  height: 30px;
  margin: 0;
}

.App .TTab .menuItem > .mTitle {
  font-weight: bold;
  font-size: 12px;
  margin: 0;
}

.App .TTab .headItem {
  height: calc(var(--tTabHeight) * 1);
  padding: 0;
  margin: 0;
}

.App .TTab .headItem > .appTitle {
  line-height: calc(var(--tTabHeight) * 1);
  margin: 0;
  margin-right: 20px;
  font-weight: bold;
}

/* PTab styling */
.App .PTab {
  position: fixed;
  width: var(--pTabWidth);
  top: var(--tTabHeight);
  left: 0;
  bottom: 0;
  z-index: var(--highLevelZindex);
  border-right: 1px solid var(--faintDark);
}

/* CTab styling */
.App .CTab {
  position: fixed;
  width: calc(100% - var(--pTabWidth));
  height: var(--cTabHeight);
  border: 1px solid var(--faintDark);
  z-index: var(--highLevelZindex);
  left: var(--pTabWidth);
  bottom: 0;
}

/* WTab styling */
.App .WTab {
  position: fixed;
  width: calc(100% - var(--pTabWidth));
  height: calc(100% - (var(--cTabHeight) + var(--tTabHeight)));
  border: 1px solid var(--faintDark);
  z-index: var(--highLevelZindex);
  left: var(--pTabWidth);
  top: var(--tTabHeight);
}
