/* General Stylying */
:root {
  /* Colors */
  --primaryColor: #0c0769; /* bluish */
  --secondaryColor: #fefefe; /* whitish */
  --darkColor: #0f0f0f; /* blackish */
  --accentColor: #f78b07; /* yellowish or goldish */
  --dangerColor: #d40f04; /* reddish */
  --faintDark: #2b2b2b; /* Grayish */

  /* Tab Dimensions */
  --tTabHeight: 80px;
  --cTabHeight: 33vh;
  --pTabWidth: 350px;

  /* Z index */
  --ultraLevelZindex: 1200;
  --highestLevelZindex: 1100;
  --highLevelZindex: 1000;
  --midLevelZindex: 900;
  --lowLevelZindex: 0;
  --defaultLineHeight: 30px;
}


/* Fonts */
@font-face {
  font-family: "OpenSansRegular";
  src: local("OpenSansRegular"), url("./fonts/Open_Sans/regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSansBold";
  src: local("OpenSansBold"), url("./fonts/Open_Sans/bold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSansLight";
  src: local("OpenSansLight"), url("./fonts/Open_Sans/light.ttf") format("truetype");
}

@font-face {
  font-family: "MonoReg";
  src: local("MonoReg"), url("./fonts/Mono/regular.ttf") format("truetype");
}

.font-bold{
  font-family: "OpenSansBold" !important;
}

.font-regular{
  font-family: "OpenSansRegular" !important;
}

.font-light{
  font-family: "OpenSansLight" !important;
}

.font-mono{
  font-family: "MonoReg" !important;
}

/*--------------- font end here -----------------*/

body,
html {
  width: 100%;
  margin: 0px;
  padding: 0px;
  color: var(--secondaryColor);
  background: var(--darkColor);
  line-height: var(--defaultLineHeight);
  font-family: "OpenSansRegular";
}

#root {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* SECTION: Utilities */
@media print {
  /* Hide buttons during print */
  button {
    display: none;
  }
}
.logTime {
  color: var(--accentColor) !important;
}

button {
  font-family: "OpenSansBold";
  position: relative;
  min-height: 40px;
  min-width: 40px;
}

.btn-sm {
  font-size: 12px !important;
}

.logLabel {
  color: var(--accentColor) !important;
}

.logMsg {
  color: gray;
}

.reportBlock {

}

pre {
  background: var(--darkColor);
  padding-left: 10px;
}

code {
  color: gray !important;
}

.ViliopInfo {
  width: 100%;
  position: absolute;
  background: none;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
}

.ViliopInfo img {
  width: 90%;
  margin: 0px auto;
}

.ViliopInfo small {
  line-height: 15px;
}

/* ------------- croll Bar ----------------*/
/* width */
::-webkit-scrollbar {
 width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
 background: var(--faintDark);
}

/* Handle */
::-webkit-scrollbar-thumb {
 background: var(--secondaryColor);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 background: var(--accentColor);
}
/*--------- end of scrollbar game ---------*/

/* SECTION: MAIN APP WINDOW STYLING */

.App {
  width: 100%;
  height: 100%;
}

.App .Main {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: var(--midLevelZindex);
}

.App .Main .leftWing {
  width: var(--pTabWidth);
  height: 100%;
  background: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: inherit;
  overflow: auto;
  bottom: 0;
}

.App .Main .rightWing {
  width: calc( 100% - var(--pTabWidth) );
  height: calc( 100% - var(--cTabHeight) );
  background: var(--faintDark);
  position: fixed;
  z-index: inherit;
  top: 0;
  overflow: auto;
  right: 0;
  bottom: 0;
}


/* TTab styling */
.App .TTab {
  height: var(--tTabHeight);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--highestLevelZindex);
  background: var(--faintDark);
  overflow: hidden;
  line-height: 25px;
  font-family: "MonoReg" !important;
}

.App .TTab .menuItem {
  transition: 0.4s all ease;
  width: 120px;
  cursor: pointer;
  border-radius: 30px;
  padding: 7px;
  color: var(--accentColor);
  height: calc(var(--tTabHeight) * 0.8);
}

.App .TTab .menuItem:hover {
  background: var(--darkColor);
  color: var(--secondaryColor);
}

.App .TTab .menuItemSelected {
  color: var(--secondaryColor) !important;
}

.App .TTab .menuItem > .mIcon {
  width: 30px;
  height: 30px;
  margin: 0;
}

.App .TTab .menuItem > .mTitle {
  font-weight: bold;
  font-size: 12px;
  margin: 0;
}

.App .TTab .headItem {
  height: calc(var(--tTabHeight) * 1);
  padding: 0;
  margin: 0;
}

.App .TTab .headItem > .appTitle {
  line-height: calc(var(--tTabHeight) * 1);
  margin: 0;
  margin-right: 20px;
  font-weight: bold;
}

/* PTab styling */
.App .PTab {
  position: fixed;
  width: var(--pTabWidth);
  top: var(--tTabHeight);
  left: 0;
  bottom: 0;
  z-index: var(--midLevelZindex);
  border-right: 1px solid var(--faintDark);
  word-wrap: break-word;
  overflow-y: auto;
  overflow-x: hidden;
}

.App .PTab > .container {
  padding-top: 20px;
  padding-bottom: var(--tTabHeight);
}

/* CTab styling */
.App .CTab {
  position: fixed;
  width: calc(100% - var(--pTabWidth));
  height: var(--cTabHeight);
  border: 1px solid var(--faintDark);
  z-index: var(--highestLevelZindex);
  left: var(--pTabWidth);
  bottom: 0;
  background: var(--faintDark);
  box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.2);
  padding: 10px;
  overflow-y: auto;
  word-wrap: break-word;
}

.App .CTab pre {
  padding-left: 0px !important;
  padding-top: 15px;
  padding-bottom: 30px;
  font-family: "MonoReg" !important;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
  color: inherit !important;
  background: inherit !important;
}

.App .CTab pre > h6 {
  line-height: 16px;
  font-size: 12px !important;
  word-wrap: break-word;
}

/* WTab styling */
.App .WTab {
  position: fixed;
  width: calc(100% - var(--pTabWidth));
  height: calc(100% - (var(--cTabHeight) + var(--tTabHeight)));
  border: 1px solid var(--faintDark);
  z-index: var(--midLevelZindex);
  left: var(--pTabWidth);
  top: var(--tTabHeight);
}

/* SECTION: WIDGETS */
input,
textarea {
  background: none !important;
  border: 1px solid var(--secondaryColor);
  color: var(--accentColor) !important;
}

input:focus,
textarea:focus {
  box-shadow: none;
  outline: none;
}

.text-accent {
  color: var(--accentColor) !important;
}

.btn-primary {
  background: var(--primaryColor) !important;
}

.vilMinTitle {
  color: var(--accentColor);
  font-size: 12px;
}
.vilMinHeading {
  font-size: 14px;
}

.helpTitle {
  color: var(--accentColor) !important;
}

.codeText {
  color: var(--accentColor) !important;
  background: var(--darkColor) !important;
  padding: 5px !important;
  margin-top: 5px !important;
  border-radius: 5px;
  font-family: "MonoReg" !important;
  margin-left: 10px;
  margin-right: 10px;
  white-space: nowrap;
}

.wsId {
  color: var(--accentColor) !important;
  background: var(--darkColor) !important;
  padding: 5px !important;
  margin: 5px !important;
  border-radius: 5px;
  border: 1px solid var(--faintDark);
  font-size: 12px;
}

.linkText {
  color: blue !important;
  background: var(--darkColor) !important;
  padding: 5px !important;
  margin-top: 5px !important;
  margin-left: 10px;
  margin-right: 10px;
  white-space: nowrap;
  border-radius: 5px;
  font-family: "MonoReg" !important;
}

button[data-name="fullscreen"] {
  display: none; /* hiding MDEditor fullscreen btn */
}

.language-markdown {
  color: var(--secondaryColor) !important; /* MDEditor color corrections */
}

.scanOutput {
  font-family: "MonoReg";
}

/* OneTool */
.OneTool {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid var(--gray);
}

.OneTool small {
  line-height: 14px;
}

/* GuideMenu Styling */
.GuideMenu {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.GuideMenu > .GuideMenuItem {
  margin: 0;
  margin-top: 10px;
  min-height: calc( var(--tTabHeight) * 0.8 );
  background: var(--faintDark);
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}
.GuideMenu > .GuideMenuItem:hover,
.GuideMenu > .GuideMenuItem[data-selected="true"] {
  background: var(--darkColor);
  border: 1px solid var(--faintDark);
}
.GuideMenu > .GuideMenuItem > .mTitle {
  font-size: 15px;
  margin: 5px;
  padding: 0;
  width: calc( 100% - 30px);
  color: var(--secondaryColor);
}
.GuideMenu > .GuideMenuItem > .mIcon {
  margin: 5px;
  width: 30px;
  height: 30px;
  color: var(--accentColor);
  padding: 0;
}

/* RPanel Styling */
.RPanel{
  z-index: var(--highLevelZindex);
  width: calc(100% - var(--pTabWidth));
  height: calc(100vh - var(--tTabHeight) - var(--cTabHeight));
  position: fixed;
  top: var(--tTabHeight);
  left: 100vw;
  bottom: var(--cTabHeight);
  background: var(--faintDark);
  transition: left 0.4s ease;
  overflow: hidden;
  padding: 0;
}

.RPanel > .container-fluid {
  overflow-x: hidden;
  word-wrap: break-word;
  overflow-y: auto;
  height: 100%;
  margin: 0;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.RPanel > .container {
  overflow-x: hidden;
  word-wrap: break-word;
  overflow-y: auto;
  height: 100%;
  margin: 0;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}


.RPanel .panelTitle {
  font-family: "OpenSansLight";
  margin-top: calc(0.2 * var(--tTabHeight));
  margin-bottom: calc(0.2 * var(--tTabHeight));
}

/* ContextMenu Styling */
.ContextMenu {
  position: fixed;
  z-index: var(--ultraLevelZindex);
  width: 200px;
  min-height: 200px;
  max-height: 300px;
  background: red;
  overflow: hidden;
}


/* ContextMenu Styling */
.ToolbarMenu {
  position: fixed;
  z-index: var(--ultraLevelZindex);
  width: 300px;
  top: var(--tTabHeight);
  height: auto;
  max-height: 300px;
  background: var(--faintDark);
  overflow: hidden;
  border: 1px solid var(--darkColor);
  padding: 0px;
}

.ToolbarMenu .tbmItem {
  font-size: 12px;
  margin: 0px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.ToolbarMenu .tbmItem:hover {
  background: var(--darkColor);
  border: 1px solid var(--faintDark);
}

/* GuideView */

.GuideView {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: calc( var(--tTabHeight) * 0.5 );
}

.GuideView .mTitle {
  font-size: 30px;
  color: var(--accentColor);
}

.GuideView .mIntro {
  color: var(--dangerColor);
}

/* GuideSubItem */
.GuideSubItem {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--faintDark);
  margin-bottom: 10px;
}

.GuideSubItem > .mSubTitle {
  width: 100%;
  border-bottom: 1px solid var(--faintDark);
  padding-bottom: 10px;
}

.GuideSubItem h6 {
  font-size: 12px;
}

.GuideSubItem > .mBtnHolder {
  margin-top: 20px;
}

/* modal */
.modal {
  z-index: 9999999;
}

.modal-content {
  background: var(--faintDark);
  color: var(--secondaryColor);
}

.modal-header {
  background: inherit; /* to be styled */
}

.modal-body {
  max-height: calc( 100vh - (var(--tTabHeight) * 3)) !important;
  overflow-y: auto;
}
